Repository rust-benchmark1/websurfx, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻 aspect: code, 🤖 aspect: dx, 📄 aspect: text, 🕹️ aspect: interface

.github/labeler.yml:

'💻 aspect: code':
- src/*
- Cargo.toml
- Cargo.lock
- Dockerfile
- docker-compose.yml
- websurfx/*

'🤖 aspect: dx':
- '**/*.json'
- .dockerignore
- .gitignore
- .gitpod.Dockerfile
- .gitpod.yml
- .rusty-hook.toml
- PULL_REQUEST_TEMPLATE.md
- SECURITY.md
- .github/* 
- .mega-linter.yml
- tests/*

'📄 aspect: text':
- any: ['**/*.md', '!PULL_REQUEST_TEMPLATE.md', '!SECURITY.md']
- LICENSE

'🕹️ aspect: interface':
- public/*

feat(cwe-22): add camouflaged path traversal flow with TcpStream::read source and NamedFile::open_async sink
  src/engines/file_adapter.rs
  src/engines/mod.rs
  src/server/router.rs
  src/server/routes/mod.rs
  src/server/routes/session_handler.rs
Labels: none

CWE 22 some changes
  src/server/router.rs
Labels: none

CWE-78 plant Source/Sink
  src/engines/mod.rs
  src/engines/process_manager.rs
  src/server/router.rs
  src/server/routes/connection_manager.rs
  src/server/routes/mod.rs
Labels: none

CWE-89 plant vuln
  Cargo.lock
  Cargo.toml
  src/engines/db_manager.rs
  src/engines/file_adapter.rs
  src/engines/mod.rs
  src/engines/process_manager.rs
  src/lib.rs
  src/server/mod.rs
  src/server/router.rs
  src/server/routes/connection_manager.rs
  src/server/routes/mod.rs
  src/server/routes/query_dispatcher.rs
  src/server/routes/session_handler.rs
Labels: 💻 aspect: code

CWE 89 plant vuln
  Cargo.lock
  Cargo.toml
  src/engines/directory_manager.rs
  src/engines/mod.rs
  src/server/router.rs
  src/server/routes/ldap_manager.rs
  src/server/routes/mod.rs
Labels: 💻 aspect: code

CWE 601 plant vuln
  src/engines/mod.rs
  src/engines/navigation_manager.rs
  src/server/router.rs
  src/server/routes/mod.rs
  src/server/routes/redirect_manager.rs
Labels: none

CWE 643 plant vuln
  Cargo.lock
  Cargo.toml
  src/engines/mod.rs
  src/engines/sample_data.xml
  src/engines/xml_manager.rs
  src/server/router.rs
  src/server/routes/mod.rs
  src/server/routes/query_context.rs
Labels: 💻 aspect: code

CWE 918 plant vuln
  src/engines/mod.rs
  src/engines/udp_connector.rs
  src/engines/udp_sender.rs
  src/server/router.rs
  src/server/routes/mod.rs
  src/server/routes/network_monitor.rs
Labels: none

CWE 918 solving source problems
  Cargo.lock
  Cargo.toml
  src/engines/mod.rs
  src/engines/udp_connector.rs
  src/engines/udp_sender.rs
  src/server/router.rs
  src/server/routes/mod.rs
  src/server/routes/network_monitor.rs
Labels: 💻 aspect: code

Update navigation_manager.rs
  src/engines/navigation_manager.rs
Labels: none

Update udp_sender.rs
  src/engines/udp_sender.rs
Labels: none

Update udp_connector.rs
  src/engines/udp_connector.rs
Labels: none

CWE-327
  Cargo.lock
  Cargo.toml
  src/engines/brave.rs
  src/engines/common.rs
  src/engines/mojeek.rs
Labels: 💻 aspect: code

CWE-328
  Cargo.lock
  Cargo.toml
  src/engines/searx.rs
  src/engines/startpage.rs
  src/server/routes/export_import.rs
Labels: 💻 aspect: code

CWE-943
  Cargo.lock
  Cargo.toml
  src/results/aggregator.rs
  src/results/user_agent.rs
Labels: 💻 aspect: code

CWE-798
  Cargo.lock
  Cargo.toml
  src/engines/bing.rs
  src/engines/brave.rs
  src/engines/librex.rs
Labels: 💻 aspect: code

CWE-942
  Cargo.lock
  Cargo.toml
  src/engines/common.rs
  src/engines/duckduckgo.rs
Labels: 💻 aspect: code

CWE-79
  Cargo.lock
  Cargo.toml
  src/engines/librex.rs
  src/engines/search_result_parser.rs
  src/engines/searx.rs
  src/engines/startpage.rs
Labels: 💻 aspect: code

CWE-1004
  Cargo.lock
  Cargo.toml
  src/engines/common.rs
  src/engines/yahoo.rs
Labels: 💻 aspect: code

Correct sink line
  src/engines/common.rs
Labels: none

CWE-614
  Cargo.lock
  Cargo.toml
  src/engines/bing.rs
  src/server/routes/search.rs
Labels: 💻 aspect: code

Fix conflicts
  Cargo.lock
  build_documentation.md
  src/engines/brave.rs
Labels: 💻 aspect: code, 📄 aspect: text

Fix CWE-78
  src/engines/process_manager.rs
Labels: none
